<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header></header>

    <main>
        <section class="container my-5">
            <section class="row justify-content-center">
                <section class="col-12 col-md-8">
                    
                    <h3>Registro de usuario</h3>
                    <p>Crea tu cuenta para empezar a registrar ventas</p>
                    <hr>

                    <img src="../assets/img/login.png" 
                         alt="foto" 
                         class="mx-auto d-block" 
                         height="200" 
                         width="200">

                    <form class="border rounded p-5 shadow">

                        <input type="text" 
                               class="form-control mb-3" 
                               placeholder="Nombre completo">

                        <input type="email" 
                               class="form-control mb-3" 
                               placeholder="Correo electrónico">

                        <input type="text" 
                               class="form-control mb-3" 
                               placeholder="Nombre de usuario">

                        <input type="password" 
                               class="form-control mb-3" 
                               placeholder="Contraseña">

                        <input type="password" 
                               class="form-control mb-3" 
                               placeholder="Confirmar contraseña">

                        <button type="submit" 
                                class="btn btn-primary">
                            Registrarse
                        </button>

                    </form>

                    <br>

                    <a href="/index.html">¿Ya tienes cuenta? Iniciar sesión</a>

                </section>
            </section>
        </section>
    </main>

    <footer></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>